[Unit]
Description=Guinée Academy Daily Backup Timer
Requires=guinee_academy-backup.service

[Timer]
OnCalendar=daily
# Ensure backup runs even if the machine was off
Persistent=true

[Install]
WantedBy=timers.target
